:root {
    --color-consola: #347ef5;
    --color-brillo-consola: #1f64d3;
    --boton: #DADBDD;
}
@import url('https://fonts.googleapis.com/css2?family=Six+Caps&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: cornsilk;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}
#consola{
    background: linear-gradient(90deg, var(--color-brillo-consola) 0%, var(--color-consola) 50%, var(--color-brillo-consola) 100%);
    width: 40em;
    height: 22em;
    display: flex;
    flex-direction: row;
    border-radius: 80% 80% 50% 50% / 40% 40% 40% 40%;
    box-shadow: 0px 3px 18px 2px black;
}
/*
*****************************PARTE IZQUIERDA*****************************
*/
#botones-izquierda{
    width: 25%;
    height: 22em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#cruceta{
    margin-left: 2.5em;
    background-color: var(--boton);
    height: 23%;
    position: relative;
    width: 50%;
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
    transform: rotate(45deg);
}
#botones-importantes{
    margin: 2em 0 0 1.5em;
    width: 65%;
    height: 20%;
    font-family: 'Six Caps', sans-serif;
    font-weight: bold;
    color: var(--color-brillo-consola);
    text-shadow: 1px 1px 0px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: end;
    transform: rotate(15deg);
}
#start, #select{
    background-color: var(--color-brillo-consola);
    width: 100%;
    height: 40%;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    box-shadow: 0px 0px 4px 1px grey;
}
#texto-boton-start{
    position: absolute;
    left: 15%;
    top: 18%;
}
#boton-start-redondo, #boton-select-redondo{
    height: 100%;
    width: 27%;
    background-color: var(--boton);
    border-radius: 50px;
}
#select{
    margin-top: 0.6em;
    margin-left: 0.5em;
}
#texto-boton-select{
    position: absolute;
    left: 12%;
    top: 18%;
    font-size:0.95em;
}
/*
*****************************PARTE CENTRAL*****************************
*/
#central{
    width: 50%;
    height: 22em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#marco-negro{
    background-color: rgb(39, 39, 39);
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20% 20% 200% 200% / 300% 300% 50% 50%;
    border:1px solid rgba(218, 218, 218, 0.521);
}
#pantalla{
    width: 85%;
    height: 65%;
    background-color: white;
    margin-top:10%;
    border: 5px solid black;
}
/*
*****************************PARTE DERECHA*****************************
*/
#botones-derecha{
    /*background-color: hotpink;*/
    width: 25%;
    height: 22em;
}