:root {
    --color-consola: #347ef5;
    --color-brillo-consola: #1f64d3;
    --boton: #DADBDD;
}
@import url('https://fonts.googleapis.com/css2?family=Six+Caps&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: cornsilk;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}
#consola{
    background: linear-gradient(90deg, var(--color-brillo-consola) 0%, var(--color-consola) 50%, var(--color-brillo-consola) 100%);
    width: 40em;
    height: 22em;
    display: flex;
    flex-direction: row;
    border-radius: 80% 80% 50% 50% / 40% 40% 40% 40%;
    box-shadow: 0px 3px 18px 2px black;
}
/*
*****************************PARTE IZQUIERDA*****************************
*****************************PARTE IZQUIERDA*****************************
*****************************PARTE IZQUIERDA*****************************
*****************************PARTE IZQUIERDA*****************************
*****************************PARTE IZQUIERDA*****************************
*/
#parte-izquierda{
    width: 25%;
    height: 22em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/*
*****************************CRUCETA*****************************
*****************************CRUCETA*****************************
*****************************CRUCETA*****************************
*/
#cruceta{
    margin-left: 2em;
    background-color: var(--boton);
    height: 23%;
    position: relative;
    width: 50%;
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
    transform: rotate(45deg);
}
#botones-izquierda{
    margin: 2em 0 0 1.5em;
    width: 65%;
    height: 20%;
    font-family: 'Six Caps', sans-serif;
    font-weight: bold;
    color: var(--color-brillo-consola);
    text-shadow: 1px 1px 0px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: end;
    transform: rotate(15deg);
}
#start, #select{
    background-color: var(--color-brillo-consola);
    width: 100%;
    height: 40%;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    box-shadow: 0px 0px 4px 1px grey;
}
#texto-boton-start{
    position: absolute;
    left: 15%;
    top: 18%;
}
#boton-start-redondo, #boton-select-redondo{
    height: 100%;
    width: 27%;
    background-color: var(--boton);
    border-radius: 50px;
}
#select{
    margin-top: 0.6em;
    margin-left: 0.5em;
}
#texto-boton-select{
    position: absolute;
    left: 12%;
    top: 18%;
    font-size:0.95em;
}
/*
*****************************PARTE CENTRAL*****************************
*****************************PARTE CENTRAL*****************************
*****************************PARTE CENTRAL*****************************
*****************************PARTE CENTRAL*****************************
*****************************PARTE CENTRAL*****************************
*/
#parte-central{
    width: 50%;
    height: 22em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#marco-negro{
    background-color: rgb(39, 39, 39);
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20% 20% 200% 200% / 300% 300% 50% 50%;
    border:1px solid rgba(218, 218, 218, 0.233);
}
#pantalla{
    width: 85%;
    height: 65%;
    background-color: white;
    margin-top:10%;
    border: 7px solid black;
}
/*
*****************************PARTE DERECHA*****************************
*****************************PARTE DERECHA*****************************
*****************************PARTE DERECHA*****************************
*****************************PARTE DERECHA*****************************
*****************************PARTE DERECHA*****************************
*/
#parte-derecha{
    /* background-color: hotpink; */
    width: 25%;
    height: 22em;
    font-family: 'Six Caps', sans-serif;
    font-weight: bold;
    color: var(--color-brillo-consola);
    text-shadow: 1px 1px 0px rgb(0, 0, 0);
}
#power{
    /* background-color: fuchsia; */
    width: 50%;
    height: 20%;
    font-size: 0.8em;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: end;
}
#led{
    width: 10%;
    height: 11%;
    border-radius: 50px;
    margin-bottom: 0.2em;
    transition: 0.3s;
}
.led-apagado{
    background-color: rgb(27, 27, 27);
    box-shadow: 0px 1px 8px 1px rgba(118, 240, 138, 0);
}
.led-encendido{
    background-color: rgb(0, 255, 13);
    box-shadow: 0px 1px 8px 1px rgb(118, 240, 138);
}
#texto-power{
    margin-left: 0.5em;
}
#botones-derecha{
    /* background-color: turquoise; */
    width: 100%;
    height: 42%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.boton-derecha{
    width: 25%;
    height: 27%;
    border-radius: 50px;
    background-color: var(--boton);
}
#boton-b{
    margin: 2.5em 0 0 -1em;
}

#boton-a{
    margin-left: 1.5em;
}
#altavoz{
    /* background-color: coral; */
    margin-left: 1em;
    height: 40%;
    width: 100%;
}
.linea-altavoz{
    background-color: rgb(34, 34, 34);
    width: 50%;
    height: 4%;
    margin-bottom: 0.35em;
    border-radius: 5px;
    transform: rotate(-12deg);
}